<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manejador</title>
</head>
<body>
    <form action="buscar_tema" method="POST" style="margin-bottom: 2em;">
        {% csrf_token %}
        <label for="tema_a_buscar">Buscar tema:</label>
        <input name="tema_a_buscar" id="tema_a_buscar">
        <button type="submit">Buscar</button>
    </form>
    <form action="agregar_tema" method="POST">
        {% csrf_token %}
        <label for="tema_a_agregar">Agregar tema:</label>
        <input name="tema_a_agregar" id="tema_a_agregar">
        <button type="submit">Agregar</button>
    </form>
</body>
</html>